.add_form {
  display: flex;
  flex-direction: column;
  width: 80vw;

  margin-top: 30px;
  align-items: center;
  border: 1px solid $color__light-gray;
  background: fade-out($color: #fff, $amount: 0.3);

  @include tablet {
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-around;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
    input {
      width: 280px;
    }
    textarea {
      width: 280px;

      padding-left: 5px;
      font-family: $font__open;
      font-size: 14px;
    }
  }

  input {
    border: 1px solid $color__light-gray;
    height: 35px;
    font-size: 14px;
    padding-left: 5px;
    font-family: $font__open;
  }
  input::placeholder {
    color: $color__blue;
    text-transform: uppercase;
    font-family: $font__open;
    padding-left: 5px;
    font-size: 14px;
  }

  textarea {
    border-radius: 5px;
    border: 1px solid $color__light-gray;
    height: 35px;
  }
  textarea::placeholder {
    color: $color__blue;
    text-transform: uppercase;
    font-family: $font__open;
    padding-left: 5px;
    font-size: 14px;
    padding-top: 8px;
  }
  #date {
    width: 280px !important;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
  }
  .SingleDatePickerInput {
    max-height: 35px !important;

    padding: 0;
    border: none;
    .DateInput {
      width: 75% !important;
      max-height: 35px;
      padding: 0;
      border: none;
    }
    .DateInput_input {
      max-height: 35px;
      padding: 0;
      font-size: 16px;
      border: none;
      color: $color__blue;
      font-family: $font__open;
    }
    input::placeholder {
      padding-left: 10px;
    }
  }

  .add_form_button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background: $color__blue;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: $font__open;
    text-transform: uppercase;
  }
}
