.display_container {
  font-family: $font__open;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .display_filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    @include tablet {
      flex-direction: row;
    }
  }
}

// individual item

.list_item {
  border-bottom: 1px solid $color__light-gray;
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;

  background: fade-out($color: #fff, $amount: 0.4);

  .title_date {
    // width: 10vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    p {
      margin-left: 3%;
    }
    @include tablet {
      width: 15vw;
    }
  }

  h3 {
    margin: 0;
    padding-left: 5px;
  }
  a {
    color: $color__blue;

    text-decoration: none;
  }
  p {
    margin-right: 2%;
  }
}

// list container
.list_container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 3px solid $color__light-gray;
  @include tablet {
    width: 70vw;
  }

  .label_container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color__light-gray;
    p {
      margin: 20px;
      text-transform: uppercase;
      font-family: $font__open;
    }
  }
}

.total {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 5px;
  font-family: $font__open;
  color: $color__blue;
  font-size: 22px;

  a {
    color: $color__blue;
    margin-bottom: 30px;
  }
}

// filter form

.filter_list {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 20px;
  @include tablet {
    flex-direction: row;
    width: 75vw;
    max-width: 650px;
    height: 10vh;
  }
  .title_input {
    border: 1px solid $color__light-gray;
    height: 25px;
    font-family: $font__open;
    font-size: 14px;
    padding-left: 5px;
  }
  input::placeholder {
    color: black;
    font-family: $font__open;
    font-size: 14px;
    padding-left: 5px;
  }
  select {
    font-family: $font__open;
    border-radius: 0px !important;
    option {
      color: blue;
    }
  }
  .filter_select {
    height: 30px;
    width: 80px;
    border-radius: 0px;
    font-family: $font__open;
  }
  .DateRangePicker {
    max-height: 35px !important;

    .DateRangePickerInput {
      max-height: 35px !important;

      .DateInput {
        max-height: 35px !important;
        .DateInput_input {
          padding: 0;
        }
      }
      .DateRangePickerInput_clearDates {
        @include tablet {
          top: 35% !important;
        }
      }
      .DateRangePickerInput_arrow {
        padding-right: 10px !important;
      }
    }
  }
}

.MuiSelect-root-1 {
  width: 100px !important;
}

// not found

.not_found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color__blue;

  p {
    font-family: $font__open;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
// about page

.about_page {
  font-family: $font__open;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $button__gray;
    letter-spacing: 1.5px;
  }
  p {
    color: $color__blue;
    max-width: 75%;
    line-height: 30px;
  }
}

//category warning
.category_warning {
  display: none;
  @include tablet {
    display: block;
    margin: 0;
    color: #fff;
    font-family: $font__open;
    position: fixed;
    top: 250px;
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: none;
  @include tablet {
    display: block;
  }
}
