.header {
  background: $color__blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;

  h1 {
    margin: 0;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $button__gray;
  }

  .header_links {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    @include tablet {
      width: 60vw;
      justify-content: space-around;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;
    }
    button {
      background: $button__gray;
      border-radius: 5px;
      color: #fff;
      width: 100px;
      border: none;

      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    button:hover {
      cursor: pointer;
      color: $color__blue;
    }
  }
}
