.login-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('/images/aerial.jpg');
  background-size: cover;
  .login-layout_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 350px;
    width: 80vw;
    background: fade-out($color: #fff, $amount: 0.3);
    @include tablet {
      height: 200px;
      width: 50vw;
    }

    h1 {
      font-family: $font__open;
      text-align: center;
    }
    p {
      max-width: 75%;
      text-align: center;
      font-family: $font__open;
    }
  }
  .login-layout_buttons {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    @include tablet {
      width: 40vw;
    }
    button {
      @include button_gray;
    }
  }
}
