* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

.is-active {
  font-weight: bold;
}

//fonts

//colors
$button__gray: #aba6a9;
$color__blue: #4066b8;
$color__purple: #a828a6;
$color__light-gray: #e6e6e6;

@mixin tablet {
  @media all and (min-width: 750px) {
    @content;
  }
}

@mixin button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  border: none;
  background: $color__blue;
  @include tablet {
    width: 150px;
    height: 50px;
  }
}
