* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.is-active {
  font-weight: bold;
}

//fonts

//colors
$button__gray: #aba6a9;
$color__blue: #4066b8;
$color__purple: #a828a6;
$color__light-gray: #e6e6e6;

@mixin button_gray {
  background: $button__gray;
  width: 150px;
  height: 35px;
  font-size: 14px;
}

@mixin tablet {
  @media all and (min-width: 750px) {
    @content;
  }
}
